.clickable {
    cursor: pointer
}

.is-underlined {
    text-decoration: underline !important;
}

.is-strike-through {
    text-decoration: line-through;
}

.secret-anchor {
    color: #4a4a4a;
    &:hover {
        color: #4a4a4a;
    }
}
