@import "variables";

.dark-bg {
    background-color: $shark-grey;
}

.dark-purple-bg {
    background-color: $dark-purple;
}

.purple-bg {
    background-color: $purple;
}

.light-purple-bg {
    background-color: $light-purple;
}

.lighter-purple-bg {
    background-color: $lighter-purple;
}
