# IDE
.idea/
.ionide/
.vs/

# Tools
.fable/
.fake/
.farmer/

# Build / Deploy
deploy/
obj/
bin/
packages/
paket-files/
node_modules/
dist/

# Scripts
release.cmd
release.sh

# Misc
*.orig
*.DotSettings.user

# Copied images
src/Client/public/img/

# Config
appsettings.json
appsettings.*.json
