.clickable {
    cursor: pointer
}

.markdown {
    color: #363636;
}

.markdown h1 {
    font-size: 3em;
    margin-bottom: 1.5rem;
    font-weight: 600;
    line-height: 1.125;
}

.markdown h2 {
    font-size: 2.5em;
    margin-bottom: 1.5rem;
    font-weight: 600;
    line-height: 1.125;
}

.markdown h3 {
    font-size: 2em;
    margin-bottom: 1.5rem;
    font-weight: 600;
    line-height: 1.125;
}

.markdown h4 {
    margin-bottom: 1.5rem;
    font-weight: 600;
    line-height: 1.125;
}

.markdown h5 {
    font-size: 1.25em;
    margin-bottom: 1.5rem;
    font-weight: 600;
    line-height: 1.125;
}

.markdown h6 {
    font-size: 1em;
    margin-bottom: 1.5rem;
    font-weight: 600;
    line-height: 1.125;
}

.markdown ul {
    list-style-position: outside;
    list-style-type: disc;
    margin-left: 2em;
    margin-top: 1em;
}

.markdown ul ul {
    list-style-type: circle;
    margin-top: .25em;
    margin-bottom: .25em;
}

.markdown ol {
    list-style-type: decimal;
    list-style-position: outside;
    margin-left: 2em;
    margin-top: 1em;
}

.markdown ol ol {
    list-style-type: lower-roman;
    margin-top: .25em;
    margin-bottom: .25em;
}

.markdown ul:not(:last-child), .markdown ol:not(:last-child) {
    margin-bottom: 1em;
}

.markdown p {
    display: block;
    margin: 1em 0;
}

.markdown blockquote {
    background: #f3f1f1;
    /*font-style: italic;*/
    border-left: 3px solid #7a6193;
    margin: 1em 5px;
    padding: 0.5em 10px;
    quotes: none;
}
.markdown blockquote:before {
    color: #ccc;
    content: none;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
.markdown blockquote p {
    display: inline;
}

.dark-bg {
    background-color: #292c2f;
}

.dark-purple-bg {
    background-color: #634A80;
}

.purple-bg {
    background-color: #7A6193;
}

.mid-purple-bg {
    background-color: #9078A7;
}

.light-purple-bg {
    background-color: #A78FBA;
}

.progress-wrapper {
    position: relative;
}

.progress-value {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: calc(1rem / 1.5);
    line-height: 1rem;
    font-weight: bold;
}

.progress.is-small+.progress-value {
    font-size: calc(0.75rem / 1.5);
    line-height: 0.75rem;
}

.progress.is-medium+.progress-value {
    font-size: calc(1.25rem / 1.5);
    line-height: 1.25rem;
}

.progress.is-large+.progress-value {
    font-size: calc(1.5rem / 1.5);
    line-height: 1.5rem;
}

.progress:not(:last-child) {
    margin-bottom: 1rem;
}

.is-underlined {
    text-decoration: underline !important;
}

.is-strike-through {
    text-decoration: line-through;
}
