.clickable {
    cursor: pointer !important;
}

.markdown {
    color: #363636;
}

.markdown h1 {
    font-size: 3em;
    margin-bottom: 1.5rem;
    font-weight: 600;
    line-height: 1.125;
}

.markdown h2 {
    font-size: 2.5em;
    margin-bottom: 1.5rem;
    font-weight: 600;
    line-height: 1.125;
}

.markdown h3 {
    font-size: 2em;
    margin-bottom: 1.5rem;
    font-weight: 600;
    line-height: 1.125;
}

.markdown h4 {
    margin-bottom: 1.5rem;
    font-weight: 600;
    line-height: 1.125;
}

.markdown h5 {
    font-size: 1.25em;
    margin-bottom: 1.5rem;
    font-weight: 600;
    line-height: 1.125;
}

.markdown h6 {
    font-size: 1em;
    margin-bottom: 1.5rem;
    font-weight: 600;
    line-height: 1.125;
}

.markdown ul {
    list-style-position: outside;
    list-style-type: disc;
    margin-left: 2em;
    margin-top: 1em;
}

.markdown ul ul {
    list-style-type: circle;
    margin-top: .25em;
    margin-bottom: .25em;
}

.markdown ol {
    list-style-type: decimal;
    list-style-position: outside;
    margin-left: 2em;
    margin-top: 1em;
}

.markdown ol ol {
    list-style-type: lower-roman;
    margin-top: .25em;
    margin-bottom: .25em;
}

.markdown ul:not(:last-child), .markdown ol:not(:last-child) {
    margin-bottom: 1em;
}

.markdown p {
    display: block;
    margin: 1em 0;
}
